# Django
*.pyc
__pycache__/
db.sqlite3
/media/
staticfiles/

# Entorno virtual
venv/
env/
.env

# VS Code
.vscode/

# Python general
*.log
*.pot
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Mac / Windows
.DS_Store
Thumbs.db
